* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row-reverse;
  background: url("/Pictures/background.jpg") no-repeat center center fixed;
  background-size: cover;
  }

a:link, a:visited {
  text-decoration: none;
}

.p-card{
  background-color: rgba(250,250,250,.7);
}


.p-card {
  margin-top:60px;
  width:400px;
  max-width: calc(100vw - 10px);
  min-width: 400px;
  display:flex;
  flex-direction: row;
}

.p-head{
  width:45%;
  margin:0 auto;
  text-align:center;
 }

.content{
  width:45%;
  margin:auto auto;
  text-align:justify;
   }

.about-me, .hastags{
margin-bottom: 20%;
}

.p-name{
  margin-top:10%;
}

.about-me{
  padding-top:10px;
  height:60%;
 }

.hastags{
  margin-top:15%;
  width:100%;
  height:7%;
  text-align:center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  font-family:"Righteous", sans-serif;
}


.links{
  margin-top:15%;
  height:15%;
  text-align:center;
}

img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.p-image{
  margin-top: -30px;
}

p{
  font-family:"Lobster", sans-serif;
}
h1{
  font-size:120%;
  font-family:"Oswald", sans-serif;
}

img:hover {
  transition: all 2.5s ease-in-out;
  transform: rotate(360deg);
}
